{% extends "conteneur.html" %}

{% block corps %}

<h1>À propos</h1>

<p>Cette application web est développée dans le cadre du Master 2 <em>Technologies numériques appliquées à l'histoire</em> de l'École nationale des Chartes.</p>

<h3>Description du projet</h3>

<p>Epistautograpy est une application web permettant de donner accès aux lettres de Charles VIII en les classant sous un nouvel angle.</p>
<p>Epistautograpy permet ainsi de consulter des <em>lettres de Charles VIII</em> par : 
	<ul>
		<li>contresignataire</li>
		<li>destinataire</li>
		<li>date</li>
	<ul></p>

<h3>Comment fonctionne Epistautograpy ?</h3>

<p>Les différentes pages s'appuient sur les langages HTML, CSS, JavaScript et Python version 3.7, ainsi que sur une base de données MySQL. À compléter.</p>

<h3>Comment installer Epistautograpy ?</h3>

<p>Télécharger le dossier <a id="link" href="https://github.com/Chartes-TNAH/epistautograpy">GitHub</a>. Il est recommandé de créer un environnement virtuel d'après le fichier requirements.txt. Ensuite, ouvrez le premier dossier "epistautograpy" puis lancez le fichier run.py.</p>

<h4>Contributrice</h4>

<p><ul>
	<li>Gwenaëlle Patat</li>
</ul></p>

 <p><a id="link" href="{{url_for('accueil')}}">Retour à l'accueil</a></p>

{% endblock %}