{% extends "conteneur.html" %}


    {% block titre %}
        {%if contresignataire %}|Contresignataire : {{contresignataire.contresignataire_lettre}} {% endif %}
    {% endblock %}
 
    {% block corps %}
        <h2>{{contresignataire.contresignataire_lettre}}</h2>
            
        <dl>
            <dt>Lettres signées</dt>
                                    <ul>
                                        <li><a id="link" href="{{url_for('index_lettres')}}">{{lettres_signees}}</a></li>
                                    </ul>
        </dl>

        <ul>
            <li><a id="link" href="{{url_for('index_lettres')}}">Retour à l'index des lettres recensés</a></li>
            <li><a id="link" href="{{url_for('accueil')}}">Retour à la page d'accueil</a></li>
        </ul>
    {% endblock %}