{% extends "conteneur.html" %}


        {% block titre %}
            {%if date %}| Date : {{date.date_envoie_lettre}} {% endif %}
        {% endblock %}
 
    {% block corps %}
        <h1>{{date.date_envoie_lettre}}</h1>

        <dl>
            <dt>Lettres envoyées</dt>
                            <ul>
                                 {% for lettre in lettres %}
                                <li><a id="link" href="{{url_for('lettre', id_lettre=lettre.id_lettre)}}">lettre n°{{lettre.id_lettre}}</a></li>
                                {% endfor %}
                            </ul>
        </dl>
       
    <ul>
        <li><a id="link" href="{{url_for('index_lettres')}}">Retour à l'index des lettres recensées</a></li>
        <li><a id="link" href="{{url_for('accueil')}}">Retour à la page d'accueil</a></li>
    </ul>
    </body>
    {% endblock %}