{% extends "conteneur.html" %}


        {% block titre %}
            {%if destinataire %}| Destinataire : {{destinataire.identite_destinataire}} {% endif %}
        {% endblock %}
 
    {% block corps %}
        <h1>{{destinataire.identite_destinataire}}</h1>
        <h3>{{destinataire.titre_destinataire}}</h3>
        <dl>
            <dt>Naissance</dt><dd>{{destinataire.date_naissance}}</dd>
            <dt>Décès</dt><dd>{{destinataire.date_deces}}</dd>
            <dt>Lettre(s) reçue(s)</dt><ul>
                                            <li><a id="link" href="{{url_for('index_lettres')}}">{{lettres_recues}}</a></li>
                                        </ul>
            <dt>Lien vers la biographie de Wikipedia</dt><dd><a id="link" href="{{destinataire.lien_infos_destinataire}}", target="blank">{{destinataire.lien_infos_destinataire}}</a></dd>
        </dl>

        <ul>
        <li><a id="link" href="{{url_for('index_lettres')}}">Retour à l'index des lettres recensés</a></li>
        <li><a id="link" href="{{url_for('accueil')}}">Retour à la page d'accueil</a></li>
        </ul>
    {% endblock %}