{% extends "conteneur.html" %}


        {% block titre %}
            {%if destinataire %}| Destinataire : {{Destinataire.identite_destinataire}} {% endif %}
        {% endblock %}
 
    {% block corps %}
        {% if destinataire %}
            <h1>{{Destinataire.identite_destinataire}}</h1>
            <h3>{{Destinataire.titre_destinataire}}</h3>
            <dl>
                <dt>Naissance</dt><dd>{{Destinataire.date_naissance}}</dd>
                <dt>Décès</dt><dd>{{Destinataire.date_deces}}</dd>
                <dt>Lien vers sa correspondance avec Charles VIII</dt><dd></dd>
            </dl>
        {% else %}
            <p>La base de données est en cours de constitution</p>
        {% endif %}
        <ul>
        <li><a href="{{url_for('index_lettres')}}">Retour à l'index des lettres recensés</a></li>
        <li><a href="{{url_for('accueil')}}">Retour à la page d'accueil</a></li>
    </ul>
    </body>
    {% endblock %}