{% extends "conteneur.html" %}

{% block titre %}| Formulaire{%endblock%}

{% block corps %}

<h1>Formulaire Institution</h1>
<p>Complétez le formulaire et cliquez sur Ajouter.</p>
<form class="form dropdown " method="POST" action="{{url_for('formulaire_institution')}}">

            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Nom* :</strong>
                    <input type="text" name="Nom" list="listenominstitution" class="form-control" value="" />
                    <datalist id="listenominstitution">
                {% for nom in listenominstitution %}
                    <option data-value="test" value="{{listenominstitution.nom}}">
                {% endfor %}
                     </datalist>
                </div>
            </div>


    <div>
        <p>Les champs marqués d'une * sont obligatoires.</p>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </div>

    </form>
{% endblock %}