{% extends "conteneur.html" %}

{% block titre %}| Formulaire{%endblock%}

{% block corps %}

<h1>Formulaire Institution</h1>
<p>Complétez le formulaire et cliquez sur Ajouter.</p>
<form class="form dropdown " method="POST" action="{{url_for('formulaire_institution')}}">

            <div class="form-group row flex-v-center">
                <label for="Nom" class="col-form-label">Nom* :</label>
                 <div class="form-control">
                    <input type="text" name="Nom" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center">
                    <label for="Latitude" class="col-form-label">Latitude* :</label>
                    <div class="form-control">
                    <input type="text" name="Latitude" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center">
                     <label for="Longitude" class="col-form-label">Longitude* :</label>
                     <div class="form-control">
                    <input type="text" name="Longitude" class="form-control" value="" />
                </div>
            </div>


    <div>
        <p>Les champs marqués d'une * sont obligatoires.</p>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </div>

    </form>
    <br/>
{% endblock %}