{% extends "conteneur.html" %}

{% block titre %}| Formulaire Destinataire{%endblock%}

{% block corps %}
<div class="col-md-12 text-center">
    <a id="link" href="{{url_for('formulaire')}}"name="singlebutton" class="btn btn-primary" type="button">Formulaire d'ajout général</a>
    <a id="link" href="{{url_for('formulaire_lettre')}}" class="btn btn-sm btn-outline-secondary" type="button">Formulaire Lettre</a>
    <a id="link" href="{{url_for('formulaire_destinataire')}}" class="btn btn-sm btn-outline-secondary" type="button">Formulaire Destinataire</a>
    <a id="link" href="{{url_for('formulaire_institution')}}" class="btn btn-sm btn-outline-secondary" type="button">Formulaire Institution</a>
</div>

<h1>Formulaire Destinataire</h1>
<form class="form dropdown " method="POST" action="{{url_for('formulaire_destinataire')}}">
    <div class="panel panel-info">

            <div class="col-md-12">
                <h4>Destinataire</h4>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Type de destinataire :</strong>
                    <input type="text" name="Type_destinataire" list="listetypedestinataire" class="form-control" value="" />
                    <datalist id="listetypedestinataire">
                {% for type in listetypedestinataire %}
                    <option data-value="test" value="{{destinataire.type}}">
                {% endfor %}
                     </datalist>
                </div>
                <div class="span1"></div>
                <div class="col-md-6 col-xs-12">
                    <strong>Titre destinataire :</strong>
                    <input type="text" name="Titre_destinataire" list="listetitredestinataire" class="form-control" value="" />
                    <datalist id="listetitredestinataire">
                {% for titre in listetitredestinataire %}
                    <option data-value="test" value="{{destinataire.titre}}">
                {% endfor %}
                     </datalist>
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Identité :</strong>
                    <input type="text" name="Identite_destinataire" list="listeidentitedestinataire" class="form-control" value="" />
                    <datalist id="llisteidentitedestinataire">
                {% for identite in listeidentitedestinataire %}
                    <option data-value="test" value="{{destinataire.identite}}">
                {% endfor %}
                     </datalist>
                </div>
               
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </div>
</form>

{% endblock %}