{% extends "conteneur.html" %}

{% block titre %}| Formulaire Institution{%endblock%}

{% block corps %}
    <div class="col-md-12 text-center">
    <a id="link" href="{{url_for('formulaire')}}"name="singlebutton" class="btn btn-primary" type="button">Formulaire d'ajout général</a>
    </div>

    <nav class=" navbar navbar-light bg-light">
    <form class="form-inline">
        <a id="link" href="{{url_for('formulaire_lettre')}}" class="btn btn-sm btn-outline-secondary" type="button">Formulaire Lettre</a>
        <a id="link" href="{{url_for('formulaire_destinataire')}}" class="btn btn-sm btn-outline-secondary" type="button">Formulaire Destinataire</a>
    </form>
    </nav>

<h1>Formulaire Institution</h1>
<form class="form dropdown " method="POST" action="{{url_for('formulaire_institution')}}">
    <div class="panel panel-info">

            <div class="col-md-12">
                <h4>Institution</h4>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Nom* :</strong>
                    <input type="text" name="Nom" list="listenominstitution" class="form-control" value="" />
                    <datalist id="listenominstitution">
                {% for nom in listenominstitution %}
                    <option data-value="test" value="{institution_conservation.nom}}">
                {% endfor %}
                     </datalist>
                </div>
                
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </div>
</form>

{% endblock %}