{% extends "conteneur.html" %}

{% block titre %}| Formulaire{%endblock%}

{% block corps %}

    <div class="col-md-12 text-center">
    <a id="link" href="{{url_for('formulaire')}}"name="singlebutton" class="btn btn-primary" type="button">Formulaire d'ajout général</a>
    </div>

    <nav class=" navbar navbar-light bg-light">
    <form class="form-inline">
        <a id="link" href="{{url_for('formulaire_lettre')}}" class="btn btn-sm btn-outline-secondary" type="button">Formulaire Lettre</a>
        <a id="link" href="{{url_for('formulaire_date')}}"  class="btn btn-sm btn-outline-secondary" type="button">Formulaire Date</a>
        <a id="link" href="{{url_for('formulaire_destinataire')}}" class="btn btn-sm btn-outline-secondary" type="button">Formulaire Destinataire</a>
        <a id="link" href="{{url_for('formulaire_contresignataire')}}" class="btn btn-sm btn-outline-secondary" type="button">Formulaire Contresignataire</a>
        <a id="link" href="{{url_for('formulaire_institution')}}" class="btn btn-sm btn-outline-secondary" type="button">Formulaire Institution</a>
    </form>
    </nav>



<h1>Formulaire</h1>
<p>Complétez le formulaire et cliquez sur Ajouter.</p>
<form class="form dropdown " method="POST" action="{{url_for('formulaire')}}">
        <div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <h4>Lettre</h4>
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Date* :</strong>
                    <select type="text" class="form-control" name="Date" list="listedatelettre" value="">
                        {% for lettre in listedatelettre %}
                            <option value="{{lettre.Date}}">{{lettre.Date}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="span1"/>
                <div class="col-md-6 col-xs-12">
                    <strong>Lieu* :</strong>
                    <select type="text" name="lieu" list="listelieulettre" class="form-control" value="" >
                        {% for lettre in listelieulettre %}
                            <option value="{{ lettre.Lieu }}">{{ lettre.Lieu }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Contresignataire* :</strong>
                    <select type="text" name="Contresignataire" list="listecontresignataire" class="form-control" value="">
                        {% for lettre in listecontresignataire %}
                            <option value="{{ lettre.Contresignataire }}">{{ lettre.Contresignataire }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="span1"></div>
                <div class="col-md-6 col-xs-12">
                    <strong>Langue* :</strong>
                    <select type="text" name="Langue" list="listelangue" class="form-control" value="" >
                        {% for lettre in listelangue %}
                            <option value="{{ lettre.Langue }}">{{ lettre.Langue }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Pronom* :</strong>
                    <select type="text" name="Pronom" list="listepronom" class="form-control" value="" >
                        {% for pronom in listepronom %}
                            <option value="{{ lettre.Pronom }}">{{ lettre.Pronom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="span1"></div>
                <div class="col-md-6 col-xs-12">
                    <strong>Cote* :</strong>
                    <select type="text" name="Cote" list="listecote" class="form-control" value="" >
                        {% for cote in listecote %}
                            <option value="{{ lettre.Cote }}">{{ lettre.Cote }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Statut* :</strong>
                    <select type="text" name="Statut" list="listestatut" class="form-control" value="" >
                        {% for statut in listestatut %}
                            <option value="{{ lettre.Statut }}">{{ lettre.Statut }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div>

            <div class="col-md-12">
                <div class="col-md-12">
                    <h4>Destinataire</h4>
                </div>
            </div>
                <div class="span1"></div>
                <div class="col-md-6 col-xs-12">
                    <strong>Type de destinataire* :</strong>
                    <select type="text" name="type_destinataire" list="listetypedestinataire" class="form-control" value="" >
                        {% for type in listetypedestinataire %}
                            <option value="{{ destinataire.type }}">{{ destinataire.type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Titre destinataire* :</strong>
                    <select type="text" name="titre_destinataire" list="listetitredestinataire" class="form-control" value="" >
                        {% for titre in listetitredestinataire %}
                            <option value="{{ destinataire.titre }}">{{ destinataire.titre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="span1"></div>
                <div class="col-md-6 col-xs-12">
                    <strong>Identité* :</strong>
                    <select type="text" name="Identité" list="listeidentitedestinataire" class="form-control" value="">
                        {% for identite in listeidentitedestinataire %}
                            <option value="{{ destinataire.identite }}">{{ destinataire.identite }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div>

            <div class="col-md-12">
                <div class="col-md-12">
                    <h4>Institution</h4>
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Nom* :</strong>
                    <select type="text" name="Nom_institution" list="listenominstitution" class="form-control" value="">
                        {% for nom in listenominstitution %}
                            <option value="{{ institution_conservation.Nom }}">{{ institution_conservation.Nom }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    
    <div>
        <p>* Obligatoire pour la validation du formulaire</p>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </div>
</form>
{% endblock %}