<!DOCTYPE html>
<html lang="fr">

{% extends "conteneur.html" %}

{% block corps %}

<h1>Dates</h1>

    {% if dates %}
    <p>Pour lors, la base recense {{dates|length}} dates :</p>
        <ul>
            {% for date in dates %}
            <li><a href="{{url_for('lettre', id_lettre=date.date_envoie_lettre)}}">{{date.date_envoie_lettre}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}
    <p><a href="{{url_for('accueil')}}">Retour à la page d'accueil</a></p>

{% endblock %}