{% extends "conteneur.html" %}

{% block titre %}| Modification d'une lettre {%endblock%}

{% block corps %}


      <h1>Modifier une lettre</h1>
      <div>Modifier la lettre n°<select name="Lettre_a_modifier">
      {% for lettre in lettres %}
      <option value="{{lettre.id_lettre}}">{{lettre.id_lettre}}</option>
      {% endfor %}
    </select></div>
      <p>Complétez le formulaire et cliquez sur "Modifier" pour modifier les données relatives à la lettre.</p>

<form class="form dropdown" method="POST" action="{{url_for('modification_lettre', id_lettre=Lettre_a_modifier.id_lettre)}}" style="text-align: center">
  <div class="form-group row flex-v-center">
    <label class="col-sm-2 col-form-label"><strong>Date d'envoie de la lettre* :</strong></label>
    <div class="col-md-6 col-xs-12">
      <input type="text" class="form-control" name="date" value="{{Lettre_a_modifier.date_envoie_lettre}}">
    </div>
  </div>
  <div class="form-group row flex-v-center">
    <label class="col-sm-2 col-form-label"><strong>Lieu d'écriture de la lettre :</strong></label>
    <div class="col-md-6 col-xs-12">
      <input type="text" class="form-control" name="lieu" value="{{Lettre_a_modifier.lieu_ecriture_lettre}}">
    </div>
  </div>
  <div class="form-group row flex-v-center">
    <label class="col-sm-2 col-form-label"><strong>Objet de la lettre :</strong></label>
    <div class="col-md-6 col-xs-12">
      <input type="text" class="form-control" name="objet" value="{{Lettre_a_modifier.objet_lettre}}">
    </div>
  </div>
  <div class="form-group row flex-v-center">
    <label class="col-sm-2 col-form-label"><strong>Nom du contresignataire* :</strong></label>
    <div class="col-md-6 col-xs-12">
      <input type="text" class="form-control" name="contresignataire" value="{{Lettre_a_modifier.contresignataire_lettre}}">
    </div>
  </div>
  <div class="form-group row flex-v-center">
    <label class="col-sm-2 col-form-label"><strong>Langue :</strong></label>
    <div class="col-md-6 col-xs-12">
      <input type="text" class="form-control" name="langue" value="{{Lettre_a_modifier.langue_lettre}}">
    </div>
  </div>
  <div class="form-group row flex-v-center">
    <label class="col-sm-2 col-form-label"><strong>Pronom personnel employé :</strong></label>
    <div class="col-md-6 col-xs-12">
      <input class="form-control" name="pronom"value="{{Lettre_a_modifier.pronom_personnel_employe_lettre}}">
    </div>
  </div>
  <div class="form-group row flex-v-center">
    <label class="col-sm-2 col-form-label"><strong>Cote* :</strong></label>
    <div class="col-md-6 col-xs-12">
      <input class="form-control" name="cote"value="{{Lettre_a_modifier.cote_lettre}}">
    </div>
  </div>
  <div class="form-group row flex-v-center">
    <label class="col-sm-2 col-form-label"><strong>Statut :</strong></label>
    <div class="col-md-6 col-xs-12">
      <input class="form-control" name="Statut" value="{{Lettre_a_modifier.statut_lettre}}">
    </div>
  </div>
  <div class="form-group row flex-v-center">
    <label class="col-sm-2 col-form-label"><strong>URL vers la lettre numérisée :</strong></label>
    <div class="col-md-6 col-xs-12">
      <input class="form-control" name="url" value="{{Lettre_a_modifier.lien_image_lettre}}">
    </div>
  </div>

  <div>
        <p>Les champs marqués d'une * sont obligatoires. Le champ Type de destinataire attend comme données "Orig." ou "Copie". Les champs Date doivent être remplis de la manière suivante : AAAA/MM/JJ.</p>
    </div>

  <div>
    <button type="submit" class="btn btn-primary">Modifier</button>
  </div>
</form>
 <br/>
{% endblock %}