{% extends "conteneur.html" %}

{% block titre %}| Modification d'un destinataire {%endblock%}

{% block corps %}

      <h1>Modifier un destinataire</h1>
      <div>Modifier le.la destinataire suivant.e : <select name="Destinataire_a_modifier">
      {% for destinataire in destinataires %}
      <option value="{{destinataire.identite_destinataire}}">{{destinataire.identite_destinataire}}</option>
      {% endfor %}
    </select></div>
      <p>Complétez le formulaire et cliquez sur "Modifier" pour modifier les données relatives au destinataire.</p>

<form class="form dropdown " method="POST" action="{{url_for('modification_destinataire', id_destinataire=Destinataire_a_modifier.id_destinataire)}}" style="text-align: center">
  <div class="form-group row flex-v-center">
    <label for="type" class="col-form-label">Type de destinataire* :</label>
    <div class="form-control">
      <input type="text" class="form-control" name="type" placeholder="institution/noblesse" value="{{Destinataire_a_modifier.type_destinataire}}">
    </div>
  </div>
  <div class="form-group row flex-v-center">
    <label for="titre" class="col-form-label">Titre du destinataire :</label>
    <div class="form-control">
      <input type="text" class="form-control" name="titre" value="{{Destinataire_a_modifier.titre_destinataire}}">
    </div>
  </div>
  <div class="form-group row flex-v-center">
    <label for="identite" class="col-form-label">Identité du destinataire* :</label>
    <div class="form-control">
      <input type="text" class="form-control" name="identite" value="{{Destinataire_a_modifier.identite_destinataire}}">
    </div>
  </div>
  <div class="form-group row flex-v-center">
    <label for="date_naissance" class="col-form-label">Date de naissance :</label>
    <div class="form-control">
      <input type="text" class="form-control" name="date_naissance" placeholder="AAAA-MM-JJ" value="{{Destinataire_a_modifier.date_naissance}}">
    </div>
  </div>
  <div class="form-group row flex-v-center">
    <label for="date_deces" class="col-form-label">Date de décès :</label>
    <div class="form-control">
      <input type="text" class="form-control" name="date_deces" placeholder="AAAA-MM-JJ" value="{{Destinataire_a_modifier.date_deces}}">
    </div>
  </div>
  <div class="form-group row flex-v-center">
    <label for="lien" class="col-form-label">Lien vers une biographie :</label>
    <div class="form-control">
      <input class="form-control" name="lien" value="{{Destinataire_a_modifier.lien_infos_destinataire}}">
    </div>
  </div>

  <div>
        <p>Les champs marqués d'une * sont obligatoires. Le champ Type de destinataire attend comme données "institution" ou "noblesse". Si le champ "Type de destinataire" correspond à "noblesse", préciser le champ "Titre du destinataire". Les champs Date doivent être remplis de la manière suivante : AAAA/MM/JJ.</p>
    </div>

  <div>
    <button type="submit" class="btn btn-primary">Modifier</button>
  </div>
</form>
 <br/>
{% endblock %}