{% extends "conteneur.html" %}

{% block titre %}| Modification d'une institution {%endblock%}

{% block corps %}

      <h1>Modifier une institution</h1>
      <div>Modifier l'institution suivante : <select name="Institution_a_modifier">
      {% for institution in institutions %}
      <option value="{{institution.nom_institution_conservation}}">{{institution.nom_institution_conservation}}</option>
      {% endfor %}
    </select></div>
      <p>Complétez le formulaire et cliquez sur "Modifier" pour modifier les données relatives à l'institution.</p>

<form class="form dropdown" method="POST" action="{{url_for('modification_institution', id_institution_conservation=Institution_a_modifier.id_institution_conservation)}}" style="text-align: center">
  <div class="form-group row flex-v-center">
    <label for="nom" class="col-form-label">Nom de l'institution* :</label>
    <div class="form-control">
      <input type="text" class="form-control" name="nom" value="{{Institution_a_modifier.nom_institution_conservation}}">
    </div>
  </div>
  <div class="form-group row flex-v-center">
    <label for="latitude" class="col-form-label">Latitude :</label>
    <div class="form-control">
      <input type="text" class="form-control" name="latitude" value="{{Institution_a_modifier.latitude_institution_conservation}}">
    </div>
  </div>
  <div class="form-group row flex-v-center">
    <label for="longitude" class="col-form-label">Longitude :</label>
    <div class="form-control">
      <input type="text" class="form-control" name="longitude" value="{{Institution_a_modifier.longitude_institution_conservation}}">
    </div>
  </div>

  <div>
        <p>Les champs marqués d'une * sont obligatoires.</p>
    </div>

  <div>
    <button type="submit" class="btn btn-primary">Modifier</button>
  </div>
</form>
 <br/>
{% endblock %}