{% extends "conteneur.html" %}

{% block titre %}| Suppression d'un.e destinataire{%endblock%}

{% block corps %}
<br/>
<header>
    <h3>Suppression de destinataires</h3>
</header>
<form method="POST" action="{{url_for('suppression_destinataire')}}" style="text-align:center">
    <div>
        <select name="Destinataire_a_supprimer">
            {% for destinataire in destinataires %}
            <option value="{{destinataire.identite_destinataire}}">{{destinataire.identite_destinataire}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
       <p value="{{suppression_destinataire}}">Êtes-vous certain.e de vouloir supprimer ce.tte destinataire ?</p>
    <div>
    <div>
        <button type="submit" class="btn btn-primary">Confirmer</button>
    </div>
 </form>
{% endblock %}