{% extends "conteneur.html" %}

{% block titre %}| Suppression du destinataire{{destinataire.identite_destinataire}}{%endblock%}

{% block corps %}
<br/>
<header>
   <h3>Suppression du destinataire
        <form>
            <input type="text" name="Destinataire_a_supprimer" list="listedestinataire" class="form-control" value="" />
                    <datalist id="listedestinataire">
                    {% for Destinataire in listedestinataire %}
                    <option data-value="test" value="{{listedestinataire.Destinataire}}">
                    {% endfor %}
                     </datalist>
        </form>
    </h3>
</header>
<br/>
<br/>
<form method="POST" action="{{url_for('suppression_destinataire')}}" style="text-align:center">
    <div>
       <p value="{{suppression_destinataire}}">Êtes-vous certain.e de vouloir supprimer ce destinataire ?</p>
    <div>
    <br/>
    <div>
        <button type="submit">Confirmer</button>
    </div>
    <br/>
    <br/>
    <br/>
 </form>
{% endblock %}