{% extends "conteneur.html" %}

{% block titre %}| Suppression d'une institution de conservation{%endblock%}

{% block corps %}
<br/>
<header>
    <h3>Suppression d'institutions</h3>
</header>
<form method="POST" action="{{url_for('suppression_institution')}}" style="text-align:center">
    <div>
        <select name="Institution_a_supprimer">
            {% for institution in institutions %}
                    <option value="{{institution.nom_institution_conservation}}">{{institution.nom_institution_conservation}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
       <p value="{{suppression_institution}}">Êtes-vous certain.e de vouloir supprimer cette institution ?</p>
    <div>
    <div>
        <button type="submit" class="btn btn-primary">Confirmer</button>
    </div>
 </form>
{% endblock %}