{% extends "conteneur.html" %}

{% block titre %}| Suppression d'une lettre{%endblock%}

{% block corps %}
<br/>
<header>
	<h3>Suppression de lettres</h3>
</header>
<form method="POST" action="{{url_for('suppression_lettre')}}" style="text-align:center">
	<div>
		<select name="Lettre_a_supprimer">
			{% for lettre in lettres %}
			<option value="{{lettre.id_lettre}}">Lettre {{lettre.id_lettre}}</option>
			{% endfor %}
		</select>
	</div>
	<div>
	   <p value="{{suppression_lettre}}">Êtes-vous certain.e de vouloir supprimer cette lettre ?</p>
	</div>
	<div>
		<button type="submit" class="btn btn-primary">Confirmer</button>
	</div>
</form>
 <br/>
{% endblock %}