{% extends "conteneur.html" %}

{% block corps %}

<h1>Institutions</h1>

    {% if institutions %}
    <p>Pour lors, la base recense {{institutions|length}} institutions :</p>
        <ul>
            {% for institution in institutions %}
            <li><a href="{{url_for('index_institution_conservation', index_institution_conservation=institution.nom_institution_conservation)}}">{{institution.nom_institution_conservation}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}
    <p><a href="{{url_for('accueil')}}">Retour à la page d'accueil</a></p>

{% endblock %}