<h1>Recherche avancée</h1>
<div class="hero jumbotron">
<div class="container">
<form class="form" method="POST" method="GET" action="{{url_for('rechercheavancee')}}">
    <div class="panel panel-info">
        <div class="form-group row">
            <h3>Numéro de la lettre :</h3>
            <div class="col-md-10">
                <input type="text" class="form-control" id="register-id_lettre" name="Numero_lettre" placeholder="n°">
            </div>
        </div>
        <div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <h3>Lettre</h3>
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Objet :</strong>
                    <input type="text" name="Objet_lettre" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center"/>
                <div class="col-md-6 col-xs-12">
                    <strong>Type de destinataire :</strong>
                    <input type="text" name="Type_destinataire" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Titre du destinataire :</strong>
                    <input type="text" name="Titre_destinataire" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Nom du Destinataire :</strong>
                    <input type="text" name="Identite_destinataire" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Contresignataire:</strong>
                    <input type="text" name="Contresignataire_lettre" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>date :</strong>
                    <input type="text" name="Date_lettre" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Lieu :</strong>
                    <input type="text" name="Lieu_lettre" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Langue :</strong>
                    <input type="text" name="Langue_lettre" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Pronom Personnel employé :</strong>
                    <input type="text" name="Pronom_lettre" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Cote :</strong>
                    <input type="text" name="Cote_lettre" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Statut :</strong>
                    <input type="text" name="Statut_lettre" class="form-control" value="" />
                </div>      
             </div>
            </div>

            <div class="col-md-12">
                <h3>Institution de Conservation</h3>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Nom :</strong>
                    <input type="text" name="Nom_institution" class="form-control" value="" />
                </div>
            </div>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Recherche avancée</button>
    </div>
</form>
</div>
</div>