<h1>Recherche avancée</h1>
<div class="hero jumbotron">
<div class="container">
<form class="form" method="GET" action="{{url_for('rechercheavancee')}}">
    <div class="panel panel-info">
        <div class="form-group row">
            <h3>Numéro de la lettre :</h3>
            <div class="col-md-10">
                <input type="text" class="form-control" id="register-id_lettre" name="id_lettre" placeholder="n°">
            </div>
        </div>
        <div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <h3>Lettre</h3>
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Objet :</strong>
                    <input type="text" name="objet_lettre" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center"/>
                <div class="col-md-6 col-xs-12">
                    <strong>Type de destinataire :</strong>
                    <input type="text" name="type_destinataire" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Titre du destinataire :</strong>
                    <input type="text" name="titre_destinataire" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Nom du Destinataire :</strong>
                    <input type="text" name="identite_destinataire" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Contresignataire:</strong>
                    <input type="text" name="contresignataire_lettre" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>date :</strong>
                    <input type="text" name="date_envoie_lettre" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Lieu :</strong>
                    <input type="text" name="lieu_ecriture_lettre" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Langue :</strong>
                    <input type="text" name="langue_lettre" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Pronom Personnel employé :</strong>
                    <input type="text" name="pronom_personnel_employe_lettre" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Cote :</strong>
                    <input type="text" name="cote_lettre" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Statut :</strong>
                    <input type="text" name="statut_lettre" class="form-control" value="" />
                </div>      
             </div>
            </div>

            <div class="col-md-12">
                <h3>Institution de Conservation</h3>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Nom :</strong>
                    <input type="text" name="nom_institution_conservation" class="form-control" value="" />
                </div>
            </div>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Recherche avancée</button>
    </div>
</form>
</div>
</div>